.login {
  width: 750px;
  height: 420px;
  background: white;
  color: white;
  top: 50px;
  left: 250px;
  position: relative;
  box-sizing: content-box;
  border-radius: 75px;
  padding: 40px 40px;
}

